<!DOCTYPE >
<html lang="en">

<head>
  <meta charset="UTF-8">
</head>

<body style="margin: 0; padding: 0">
　<table border="0" cellpadding="0" cellspacing="0" width="600" align="center"background="https://qin-images.oss-cn-beijing.aliyuncs.com/2AF7EF91589BBF495731E6D36A08B54F.jpg" style="border-collapse:separate; border-spacing:30px;">
  　<tr>
    　<td>
        <fieldset style="border: 8px solid #fff;border-radius: 8px;margin: 0;padding: 0">
          <legend style="text-align: center;font-size: 35px;letter-spacing: 8px;padding: 0 33px;"><font color="white">SACC</font></legend>
          <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:separate; border-spacing:13px;" width="496">
            <tr>
              　<td><font size="5" color="white">Welcome to the SACC platform!</font></td>
            </tr>
            <tr>
              　<td style="line-height: 1.8;font-size: 22px" width="570"><font color="white">Please click the button below for email verification (valid within 3 minutes only)</font></td>
            </tr>
            <tr style="height: 85px">
              <td align="center">
                <a th:href="@{url}" style="border: 1px solid #ddd;background: #fdd2c452;color: #ffff;cursor: pointer;width: 180px;height: 50px;line-height: 3;display: block;text-decoration: none;font-size: 16px;text-align: center;">
                  <font color="white">Verify email address</font></a>
              </td>
            </tr>
            <tr>
              <td><font size="3" color="white">If this is not your action, please ignore this message.</font></td>
            </tr>
          </table>
        </fieldset>
      </td>
    </tr>
    <tr>
      <td align="center"><font size="3" color="#ddd">@2019 SACC</font></td>
    </tr>
  </table>
</body>

</html>