<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
</head>

<body style="margin: 0;padding: 0;">
  <table style="width: 80vw;margin: 0 auto">
    <th class="header" style="font-size: 25px;text-align: center;background: #2b6573;color: rgba(255, 255, 255, 0.5);overflow: hidden;height: 70px;line-height: 70px;">
        <img src="http://sacc.oss-cn-beijing.aliyuncs.com/logo_%E5%89%AF%E6%9C%AC.png" style="float: left;width: 60px;height: 60px;padding: 5px;">
        S A C C
    </th>
    <tr class="container" style="font-size: 16px;width: 60vw;margin:0 auto; min-height: 80vh;">
      <td style="padding: 40px;height: 5vh;line-height: 5vh;">
        <h4>您好!</h4>
        <p>欢迎您使用SACC作业平台。</p>
        <p>请点击下面的按钮完成电子邮箱的验证（仅在3分钟内有效）。</p>
        <button style="border: 1px solid transparent;background: #78b4bb;color: white;cursor: pointer;text-align: center;font-size: 16px;padding: 10px 15px;">Click Here!</button>
        <p>如果不是您的操作，请忽略此邮件。</p>
      </td>
    </tr>
    <tr class="footer" style="font-size: 16px;text-align: center;background: #2b6573;color: rgba(255, 255, 255, 0.5);overflow: hidden;height: 70px;line-height: 70px;">
      <td>@2019 SACC</td>
    </tr>
  </table>
</body>

</html>