<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sacc.comprehensivesystem.modules.assignment.dao.AssignmentStageMapper">
  <resultMap id="BaseResultMap" type="com.sacc.comprehensivesystem.modules.assignment.entity.AssignmentStage">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="assignment_id" jdbcType="BIGINT" property="assignmentId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="question_id" jdbcType="BIGINT" property="questionId" />
    <result column="question_result" jdbcType="CHAR" property="questionResult" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="create_by" jdbcType="BIGINT" property="createBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="update_by" jdbcType="BIGINT" property="updateBy" />
    <result column="save_time" jdbcType="TIMESTAMP" property="saveTime" />
    <result column="del_flag" jdbcType="TINYINT" property="delFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    id, assignment_id, user_id, question_id, question_result, remarks, create_date, create_by, 
    update_date, update_by, save_time, del_flag
  </sql>
  <select id="get" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from assignment_stage
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByAssignmentIdAndProblemId" resultType="java.lang.Long">
    select count(id)
    from assignment_stage
    where assignment_id = #{assignment_id,jdbcType=BIGINT} AND question_id = #{question_id,jdbcType=BIGINT}
  </select>
  <update id="delete" parameterType="java.lang.Long">
    update assignment_stage set del_flag=1
    where id = #{id,jdbcType=BIGINT}
  </update>

  <insert id="insert" parameterType="com.sacc.comprehensivesystem.modules.assignment.entity.AssignmentStage">
    insert into assignment_stage
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="assignmentId != null">
        assignment_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="questionId != null">
        question_id,
      </if>
      <if test="questionResult != null">
        question_result,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="saveTime != null">
        save_time,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="assignmentId != null">
        #{assignmentId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="questionId != null">
        #{questionId,jdbcType=BIGINT},
      </if>
      <if test="questionResult != null">
        #{questionResult,jdbcType=CHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="saveTime != null">
        #{saveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>

  <update id="update" parameterType="com.sacc.comprehensivesystem.modules.assignment.entity.AssignmentStage">
    update assignment_stage
    <set>
      <if test="assignmentId != null">
        assignment_id = #{assignmentId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="questionId != null">
        question_id = #{questionId,jdbcType=BIGINT},
      </if>
      <if test="questionResult != null">
        question_result = #{questionResult,jdbcType=CHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="saveTime != null">
        save_time = #{saveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

</mapper>